.myflex{

	display: flex;
	flex-direction: column;
	width: 60%;
	flex-wrap: wrap;
	align-items: flex-start;
	padding-left: 1%;

}

.imgcss{
	
	align-self: center;
}

@media(min-width: 900px){

	
	.myflex{

	display: flex;
	flex-direction: column;
	width: 30%;
	flex-wrap: wrap;
	align-items: flex-start;
	padding-left: 1%;

}

}