.ani{

	animation-iteration-count: 1;
}

.myflex{

	display: flex;
	flex-direction: column;
	width: 30%;
	flex-wrap: wrap;
	align-items: flex-start;
	padding-left: 1%;

}

.imgcss{
	width: 10%;
	align-self: center;
}

.mygrid{

	display: grid;
	
}